@import "../abstracts/variables";
@import "../abstracts/functions";

.clients {
  width: 100%;
  background-image: url("../../assets/images/clients.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  @media screen and (max-width: $mobile-max) {
    display: none;
  }

  &__heading {
    font-family: $yeseva;
    font-style: normal;
    font-weight: normal;
    font-size: size(20px, $desktop);
    line-height: size(28px, $desktop);
    margin-bottom: size(13.22px, $desktop);
    text-align: center;
    text-transform: uppercase;

    color: #181818;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: size(20px, $tablet);
      line-height: size(28px, $tablet);
    }
  }

  &__picto {
    display: flex;
    width: 116px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

    &-img {
      width: 33.72px;
      height: 27.62px;
    }

    &-stick {
      background: $yellow;
      width: 32px;
      height: 1.54px;
    }
  }

  &__p {
    margin-top: size(24.16px, $desktop);
    margin-bottom: size(39px, $desktop);
    font-family: $futuraBookC;
    font-size: size(20px, $desktop);
    line-height: size(27px, $desktop);
    text-align: center;

    color: #363636;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 40%;
      font-size: size(16px, $tablet);
      margin: size(18px, $tablet) auto size(30px, $tablet);
    }
  }

  &__reviews {
    display: flex;
    width: size(1236px, $desktop);
    margin: 10px auto;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 96%;
    }
  }

  &__review {
    width: size(376px, $desktop);
    margin-bottom: size(374.61px, $desktop);

    background: $white;
    box-shadow: 0 size(10px, $desktop) size(50px, $desktop) rgba(0, 0, 0, 0.04);
    padding: size(20px, $desktop);

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 32%;
    }

    &-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: size(23.12px, $desktop);
    }
  }

  &__details {
    display: flex;
    width: size(293.75px, $desktop);
    height: size(54.03px, $desktop);
    align-items: center;
    justify-content: space-between;
    font-family: $yeseva;
    font-style: normal;
    font-weight: normal;
    font-size: size(17px, $desktop);
    line-height: size(24px, $desktop);
    color: $white;
    background: $yellow;
    position: relative;
    left: size(-20px, $desktop);
    top: size(50px, $desktop);
    box-shadow: size(5px, $desktop) size(5px, $desktop) size(20px, $desktop) rgba(227, 184, 115, 0.5);
  
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: size(15px, $tablet);
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 80%;
    }
  }

  &__img {
    width: size(76px, $desktop);
    height: size(76px, $desktop);

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: size(76px, $tablet);
      height: size(76px, $tablet);
    }
  }

  &__name {
    font-family: $yeseva;
    font-style: normal;
    font-weight: normal;
    font-size: size(18px, $desktop);
    line-height: size(23px, $desktop);
    width: size(178px, $desktop);
    margin-left: size(23px, $desktop);

    color: #181818;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: size(14px, $tablet);
      line-height: size(17px, $tablet);
      width: 100%;
    }
  }

  &__size {
    width: size(135.09px, $desktop);
    height: 100%;
    border-right: size(1px, $desktop) solid $white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__size-icon {
    width: size(32.34px, $desktop);
    height: size(31.35px, $desktop);
  }

  &__time {
    width: size(158.66px, $desktop);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__time-icon {
    width: size(32.77px, $desktop);
    height: size(31.33px, $desktop);
  }

  &__txt {
    font-family: $futuraBookC;
    font-size: size(15px, $desktop);
    line-height: size(27px, $desktop);

    color: #959595;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: size(13px, $tablet);
      line-height: size(16px, $tablet);
    }
  }
}
