@import "../abstracts/variables";
@import "../abstracts/functions";

.design {
  width: 100%;
  height: size(1120px, $desktop);

  background-image: linear-gradient(
  to bottom,
  #ffffff,
  #ffffff 60.5%,
  $black 60.5%,
  $black 100%
  );

  @media screen and (max-width: $mobile-max) {
    height: 0;

    background: $black;
  }

  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    height: size(690px, $tablet);
  }

  &__heading {
    padding-top: size(212.47px, $desktop);

    font-style: normal;
    font-weight: normal;
    font-weight: 900;
    font-size: size(20px, $desktop);
    line-height: size(28px, $desktop);
    font-family: $yeseva;
    text-align: center;
    color: #181818;
    text-transform: uppercase;

    @media screen and (max-width: $mobile-max) {
      margin-bottom: size(15.89px, $mobile);

      font-size: size(22px, $mobile);
      line-height: 138.6%;
      color: $white;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: size(22px, $tablet);
      line-height: 138.6%;
    }
  }

  &__picto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 114px;
    margin: 12.89px auto 24.11px;

    &-stick {
      width: 32px;
      height: 1.5px;

      background: $yellow;
    }

    &-icon {
      width: 28px;
      height: 28px;
    }
  }

  &__p {
    margin-bottom: size(39px, $desktop);

    font-size: size(20px, $desktop);
    line-height: size(27px, $desktop);
    font-family: $futuraBookC;
    text-align: center;
    color: #363636;

    @media screen and (max-width: $mobile-max) {
      width: size(334px, $mobile);
      margin: size(23.11px, $mobile) auto size(39px, $mobile);
      padding: 0 size(22px, $mobile);

      font-size: size(15px, $mobile);
      line-height: 135.84%;
      color: $white;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: size(14px, $tablet);
      line-height: 135.84%;
    }
  }

  &__blocks {
    display: flex;
    justify-content: center;

    @media screen and (max-width: $mobile-max) {
      display: block;
      height: 100%;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 95%;
    }
  }

  &__block {
    margin: 0 size(15px, $desktop);

    &:not(:first-child) {
      @media screen and (max-width: $mobile-max) {
        margin-top: size(-100px, $mobile);
      }
    }

    @media screen and (max-width: $mobile-max) {
      width: size(340px, $mobile);
      margin: 0 auto;
    }

    &-img {
      width: size(392px, $desktop);
      height: size(421px, $desktop);

      @media screen and (max-width: $mobile-max) {
        width: size(340px, $mobile);
        height: size(340px, $mobile);
      }

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: size(235.2px, $tablet);
        height: size(252.6px, $tablet);
        margin-left: 8%;
      }
    }

    &-txt {
      position: relative;
      top: size(-115px, $desktop);
      left: size(30px, $desktop);

      width: size(330px, $desktop);
      padding-left: size(31px, $desktop);

      background: $white;
      box-shadow: size(10px, $desktop) size(10px, $desktop) size(20px, $desktop)
      rgba(0, 0, 0, 0.03);

      @media screen and (max-width: $mobile-max) {
        top: size(-135px, $mobile);
        left: 0;

        width: size(270px, $mobile);
      }

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        left: 15%;

        width: size(200px, $tablet);
        padding-bottom: 10%;
      }
    }

    &-heading {
      padding-top: size(25px, $desktop);
      padding-bottom: size(13px, $desktop);

      font-style: normal;
      font-weight: normal;
      font-size: size(18px, $desktop);
      line-height: size(25px, $desktop);
      font-family: $yeseva;
      color: #363636;

      @media screen and (max-width: $mobile-max) {
        padding: size(18px, $mobile) 0 size(13px, $mobile) size(31px, $mobile);

        font-size: size(15px, $mobile);
        line-height: 138.6%;
      }

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: size(15px, $tablet);
      }
    }

    &-ul {
      @media screen and (max-width: $mobile-max) {
        padding: 0 0 size(31px, $mobile) size(31px, $mobile);
      }
    }

    &-li {
      list-style: inside;
      font-size: size(15px, $desktop);
      line-height: size(25px, $desktop);
      font-family: $futuraBookC;
      color: #959595;

      @media screen and (max-width: $mobile-max) {
        width: size(198px, $mobile);

        font-size: size(13px, $mobile);
        line-height: 169.8%;
      }

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: size(13px, $tablet);
      }

      &--desk {
        list-style: inside;
        font-size: size(15px, $desktop);
        line-height: size(25px, $desktop);
        font-family: $futuraBookC;
        color: #959595;

        &:last-child {
          padding-bottom: size(57px, $desktop);

          @media (min-width: $tablet-min) and (max-width: $tablet-max) {
            padding-bottom: 0;
          }
        }

        @media screen and (max-width: $mobile-max) {
          display: none;
        }

        @media (min-width: $tablet-min) and (max-width: $tablet-max) {
          font-size: size(13px, $tablet);
        }
      }

      &--mobile {
        display: none;

        @media screen and (max-width: $mobile-max) {
          display: inline;
        }
      }
    }

    &-price {
      position: relative;
      top: size(-145px, $desktop);
      left: size(30px, $desktop);

      box-sizing: border-box;
      width: size(228px, $desktop);
      height: size(54px, $desktop);
      padding-top: size(17px, $desktop);
      padding-left: size(33px, $desktop);

      font-weight: normal;
      font-size: size(18px, $desktop);
      line-height: size(25px, $desktop);
      font-family: $yeseva;
      color: $white;
      text-transform: uppercase;

      background: $yellow;
      box-shadow: size(5px, $desktop) size(5px, $desktop) size(10px, $desktop)
      rgba(227, 184, 115, 0.1);

      @media screen and (max-width: $mobile-max) {
        top: size(-155px, $mobile);
        left: 0;

        width: size(190.48px, $mobile);
        height: size(40px, $mobile);
        padding-top: size(10px, $mobile);
        padding-left: size(44.21px, $mobile);

        font-size: size(15px, $mobile);
        line-height: 138.6%;

        box-shadow: size(5px, $mobile) size(5px, $mobile) size(10px, $mobile)
        rgba(227, 184, 115, 0.3);
      }
    }
  }
}
