@import "../abstracts/variables";
@import "../abstracts/functions";

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: size(48px, $desktop) size(91px, $desktop);

  font-size: size(14px, $desktop);
  line-height: size(16px, $desktop);
  text-transform: uppercase;

  background: $black;

  @media screen and (max-width: $mobile-max) {
    display: none;
  }

  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    padding: 2%;

    font-size: size(12px, $tablet);
  }

  &__heading {
    font-family: $futuraDemiC;
    color: $yellow;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: size(170px, $tablet);
    }
  }

  &__tel {
    font-family: $futuraDemiC;
    color: $yellow;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    width: size(581.43px, $desktop);
    margin-left: size(95.47px, $desktop);

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: size(420px, $tablet);
      margin-left: 0;
    }

    &-item {
      display: block;

      font-family: $futuraBookC;
    }

    &-link {
      color: $white;
      text-decoration: none;

      &--active {
        color: $yellow;
        text-decoration: none;
      }

      &:hover {
        color: $yellow;
        text-decoration: underline;
      }
    }
  }
}
