@import "../abstracts/variables";
@import "../abstracts/functions";

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: $black;
  width: 100%;
  padding: size(48px, $desktop) size(91px, $desktop);
  text-transform: uppercase;
  font-size: size(14px, $desktop);
  line-height: size(16px, $desktop);

  @media screen and (max-width: 425px) {
    display: none;
  }

  &__nav {
    margin-left: size(95.47px, $desktop);
  }

  &__heading {
    font-family: $futuraDemiC;
    color: $yellow;
  }

  &__tel {
    color: $yellow;
    font-family: $futuraDemiC;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    width: size(581.43px, $desktop);

    &-item {
      display: block;
      font-family: $futuraBookC;
    }

    &-link {
      text-decoration: none;
      color: $white;

      &--active {
        text-decoration: none;
        color: $yellow;
      }

      &:hover {
        color: $yellow;
        text-decoration: underline;
      }
    }
  }
}
