@import "../abstracts/variables";
@import "../abstracts/functions";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $black;
  width: 100%;
  padding: size(24px, $desktop) size(100px, $desktop) size(22px, $desktop)
    size(82px, $desktop);
  text-transform: uppercase;
  font-size: size(14px, $desktop);
  line-height: size(16px, $desktop);

  @media (max-width: 425px) {
    font-size: size(12px, $mobile);
    line-height: size(14px, $mobile);
    padding: size(23px, $mobile) size(18px, $mobile) size(24px, $mobile)
    size(18px, $mobile);
  }

  &__heading {
    font-family: $futuraDemiC;
    color: $yellow;
  }

  &__tel {
    color: $yellow;
    font-family: $futuraDemiC;

    @media screen and (max-width: 425px) {
      color: $white;
    }
  }

  &__call {
    @media screen and (max-width: 425px) {
      display: none;
      text-decoration: none;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    width: size(581.43px, $desktop);
  
    @media (max-width: 425px) {
      display: none;
    }
    
    &-item {
      display: block;
      font-family: $futuraBookC;
    }
  
    &-link {
      text-decoration: none;
      color: $white;
  
      &--active {
        text-decoration: none;
        color: $yellow;
        &:hover {
          text-decoration: underline;
        }
      }
  
      &:hover {
        color: $yellow;
        text-decoration: underline;
      }
    }
  }
  
}

