@import "../abstracts/variables";
@import "../abstracts/functions";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: size(24px, $desktop) size(100px, $desktop) size(22px, $desktop)
  size(82px, $desktop);

  font-size: size(14px, $desktop);
  line-height: size(16px, $desktop);
  text-transform: uppercase;

  background: $black;

  @media (max-width: $mobile-max) {
    padding: size(23px, $mobile) size(18px, $mobile) size(24px, $mobile)
    size(18px, $mobile);

    font-size: size(12px, $mobile);
    line-height: size(14px, $mobile);
  }

  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    padding: size(23px, $tablet) size(18px, $tablet) size(24px, $tablet)
    size(18px, $tablet);

    font-size: size(12px, $tablet);
    line-height: size(14px, $tablet);
  }

  &__heading {
    font-family: $futuraDemiC;
    color: $yellow;
  }

  &__tel {
    font-family: $futuraDemiC;
    color: $yellow;

    @media screen and (max-width: $mobile-max) {
      color: $white;
    }
  }

  &__call {
    @media screen and (max-width: $mobile-max) {
      display: none;

      text-decoration: none;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      display: none;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    width: size(581.43px, $desktop);

    @media (max-width: $mobile-max) {
      display: none;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: size(380px, $tablet);
    }

    &-item {
      display: block;

      font-family: $futuraBookC;
    }

    &-link {
      color: $white;
      text-decoration: none;

      &--active {
        color: $yellow;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        color: $yellow;
        text-decoration: underline;
      }
    }
  }
}
