@import "../abstracts/variables";
@import "../abstracts/functions";

.home {
  padding-bottom: size(107px, $desktop);
  width: 100%;
  height: size(838px, $desktop);
  background: $black;
  overflow: hidden;

  @media (max-width: $mobile-max) {
    height: size(476px, $mobile);
  }

  &__instagram {
    position: absolute;
    width: size(82px, $desktop);
    height: size(82px, $desktop);

    transform: rotate(90deg);

    @media (max-width: $mobile-max) {
      display: none;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      display: none;
    }
  }

  &__link {
    font-family: $futuraDemiC;
    font-size: size(14px, $desktop);
    line-height: size(16px, $desktop);
    text-align: center;
    background: $black;
    color: $yellow;
    text-decoration: none;
    position: relative;
    top: size(31px, $desktop);
    left: size(284px, $desktop);

    &:hover {
      text-decoration: underline;
    }
  }

  &__stick {
    background-color: $yellow;
    width: size(51px, $desktop);
    height: 1px;
    position: relative;
    top: size(23px, $desktop);
    left: size(380px, $desktop);
  }

  &__img {
    background-image: url("../../assets/images/Group\ 7.png");
    background-size: cover;
    height: 100%;
    position: relative;
    left: size(82px, $desktop);
    background-repeat: no-repeat;
    width: size(1356px, $desktop);

    @media (max-width: $mobile-max) {
      left: 0;
      width: 100%;
      height: size(476px, $mobile);
      background-position-x: center;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      left: 0;
      width: 100%;
    }
  }

  &__heading {
    width: size(600px, $desktop);
    position: relative;
    top: size(194px, $desktop);
    left: size(60px, $desktop);
    font-family: $yeseva;
    font-style: normal;
    font-weight: normal;
    font-size: size(40px, $desktop);
    line-height: size(53px, $desktop);
    text-transform: uppercase;

    color: $white;

    @media (max-width: $mobile-max) {
      margin: 0 auto;
      width: size(339px, $mobile);
      font-size: size(23px, $mobile);
      left: 0;
      line-height: 132.83%;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: size(430px, $tablet);
      font-size: size(33px, $tablet);
      line-height: 132.83%;
      top: size(80px, $tablet);
    }

    &--yellow {
      color: $yellow;

      @media (max-width: $mobile-max) {
        font-size: size(23px, $mobile);
        line-height: 132.83%;
      }
    }
  }

  &__p {
    position: relative;
    top: size(208px, $desktop);
    left: size(60px, $desktop);
    width: size(504px, $desktop);

    font-family: $futuraBookC;
    font-size: size(22px, $desktop);
    line-height: size(30px, $desktop);

    color: $white;

    @media (max-width: $mobile-max) {
      box-sizing: content-box;
      font-size: size(18px, $mobile);
      line-height: 135.84%;
      width: size(339px, $mobile);
      padding: size(50px, $mobile) 0 size(20px, $mobile) 0;
      left: 0;
      margin: 0 auto;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: size(380px, $tablet);
      font-size: size(18px, $tablet);
      line-height: 132.83%;
      top: size(90px, $tablet);
    }
  }

  &__scroll-link {
    display: flex;
    align-items: center;
    width: size(247px, $desktop);
    height: size(97px, $desktop);
    position: relative;
    top: -49px;
    padding-top: 0;
    padding-left: size(48px, $desktop);
    background: $black;
    font-family: $yeseva;
    font-style: normal;
    font-weight: normal;
    font-size: size(14px, $desktop);
    line-height: size(19px, $desktop);
    text-transform: uppercase;
    text-decoration: none;

    color: $white;

    &:hover {
      color: $yellow;
      text-decoration: underline;
    }

    @media screen and (max-width: $mobile-max) {
      display: none;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      display: none;
    }
  }

  &__scroll-icon {
    margin-left: 12px;
    box-sizing: border-box;
    width: 27px;
    height: 27px;
  }
}
