@import "../abstracts/variables";
@import "../abstracts/functions";

.measurement {
  display: flex;
  width: 100%;
  overflow: hidden;

  background: $white;

  @media screen and (max-width: $mobile-max) {
    display: none;
  }

  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    justify-content: space-between;
    width: 95%;
  }

  &__stages {
    width: size(800px, $desktop);
    height: size(645px, $desktop);

    background-image: url("../../assets/images/building.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      margin-left: size(-100px, $tablet);

      background-image: none;
    }

    &-circle {
      position: relative;
      top: 6%;
      left: -20%;

      width: size(636.12px, $desktop);
      height: size(636.12px, $desktop);

      background-image: radial-gradient(
      transparent 69%,
      $yellow 70%,
      transparent 50%
      );
      border-radius: 50%;
    }

    &-div1 {
      position: relative;
      top: -95%;
      left: 30%;

      display: flex;
      align-items: center;
      width: size(474px, $desktop);

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: size(400px, $tablet);
      }
    }

    &-div2 {
      position: relative;
      top: -95%;
      left: 46%;

      display: flex;
      align-items: center;
      width: size(300px, $desktop);

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: size(300px, $tablet);
      }
    }

    &-div3 {
      position: relative;
      top: -90%;
      left: 51%;

      display: flex;
      align-items: center;
      width: size(300px, $desktop);

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: size(300px, $tablet);
      }
    }

    &-div4 {
      position: relative;
      top: -85%;
      left: 50%;

      display: flex;
      align-items: center;
      width: size(374px, $desktop);

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: size(300px, $tablet);
      }
    }

    &-div-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: content-box;
      width: size(41.46px, $desktop);
      height: size(41.46px, $desktop);
      padding: 1%;

      font-style: normal;
      font-weight: normal;
      font-size: size(18px, $desktop);
      line-height: size(25px, $desktop);
      font-family: $yeseva;
      text-align: center;
      color: $white;

      background: $yellow;
      border: 2vw solid $white;
      border-radius: 50%;

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: size(15px, $tablet);
      }
    }

    &-div-text {
      font-size: size(18px, $desktop);
      line-height: size(21px, $desktop);
      font-family: $futuraMediumC;
      color: #363636;

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: size(15px, $tablet);
        line-height: size(18px, $tablet);
      }
    }
  }

  &__wrapper {
    width: size(509px, $desktop);
  }

  &__save {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: size(50.94px, $desktop);
    margin-bottom: size(270px, $desktop);

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 100%;
      margin-left: -20%;
    }

    &-img {
      width: size(72px, $desktop);
      height: size(72px, $desktop);
      padding: size(19.48px, $desktop);

      background: $yellow;
      border-radius: 50%;
      box-shadow: 0 size(10px, $desktop) size(20px, $desktop) rgba(237, 192, 120, 0.2);

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: size(52px, $tablet);
        height: size(52px, $tablet);
      }
    }

    &-text {
      width: size(344px, $desktop);

      font-size: size(20px, $desktop);
      line-height: size(25px, $desktop);
      font-family: $futuraDemiC;
      color: $yellow;
      text-shadow: 0 size(3px, $desktop) size(10px, $desktop) rgba(227, 184, 115, 0.15);

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: size(15px, $tablet);
      }
    }
  }
}
