@import "../abstracts/variables";
@import "../abstracts/functions";

.online {
  width: 100%;
  background: $white;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    $black,
    $black 33.5%,
    $white 33.5%,
    $white 100%
  );

  @media screen and (max-width: 425px) {
    background: $black;
  }

  &__heading {
    font-family: $yeseva;
    font-style: normal;
    font-weight: normal;
    font-size: size(20px, $desktop);
    line-height: size(28px, $desktop);
    text-align: center;
    text-transform: uppercase;
    color: $white;
    margin-bottom: size(12.79px, $desktop);

    @media screen and (max-width: 425px) {
      font-size: size(22px, $mobile);
      line-height: 138.6%;
      margin-bottom: size(19.79px, $mobile);
    }
  }

  &__picto {
    display: flex;
    width: size(116px, $desktop);
    margin: 0 auto size(31.21px, $desktop);
    align-items: center;
    justify-content: space-between;
   
    @media screen and (max-width: 425px) {
      width: size(116px, $mobile);
     }
     
    &-stick {
      background: $yellow;
      width: size(32px, $desktop);
      height: size(1.54px, $desktop);

      @media screen and (max-width: 425px) {
        width: size(32px, $mobile);
        height: size(1.54px, $mobile);
      }
    }

    &-icon {
      width: size(32.77px, $desktop);
      height: size(28px, $desktop);

      @media screen and (max-width: 425px) {
        width: size(32.77px, $mobile);
        height: size(28px, $mobile);
      }
    }
  }

  &__buildings {
    width: 100%;
    position: absolute;
    left: 0;
    top: size(-165px, $desktop);

    @media screen and (max-width: 425px) {
      display: none;
    }

    &-wrapper {
      position: relative;
      width: 100%;
    }
  }

  &__video {
    width: size(817px, $desktop);
    height: size(434px, $desktop);

    @media screen and (max-width: 425px) {
      width: size(340px, $mobile);
      height: size(207px, $mobile);
      margin-top: size(40.21px, $mobile);
    }
  }

  &__stick-btm {
    margin: size(62.5px, $desktop) auto size(34.46px, $desktop);
    background: $yellow;
    width: size(55px, $desktop);
    min-width: 55px;
    height: size(1.54px, $desktop);

    @media screen and (max-width: 425px) {
      margin: size(28px, $mobile) auto size(21.46px, $mobile);
      height: size(1.54px, $mobile);
      width: size(55px, $mobile);
    }
  }

  &__p {
    font-family: $futuraBookC;
    font-size: size(20px, $desktop);
    line-height: size(34px, $desktop);
    text-align: center;
    padding-bottom: size(91px, $desktop);

    color: #363636;

    @media screen and (max-width: 425px) {
      color: $white;
      font-size: size(14px, $mobile);
      line-height: 169.8%;
      width: size(340px, $mobile);
      margin: 0 auto;
    }
  }
}
