@import "../abstracts/variables";
@import "../abstracts/functions";

.online {
  width: 100%;

  text-align: center;

  background: $white;
  background-image: linear-gradient(
  to bottom,
  $black,
  $black 33.5%,
  $white 33.5%,
  $white 100%
  );

  @media screen and (max-width: $mobile-max) {
    background: $black;
  }

  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    background-image: linear-gradient(
    to bottom,
    $black,
    $black 35.5%,
    $white 35.5%,
    $white 100%
    );
  }

  &__heading {
    margin-bottom: size(12.79px, $desktop);

    font-style: normal;
    font-weight: normal;
    font-size: size(20px, $desktop);
    line-height: size(28px, $desktop);
    font-family: $yeseva;
    text-align: center;
    color: $white;
    text-transform: uppercase;

    @media screen and (max-width: $mobile-max) {
      margin-bottom: size(19.79px, $mobile);

      font-size: size(22px, $mobile);
      line-height: 138.6%;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      margin-bottom: size(12.79px, $tablet);

      font-size: size(22px, $tablet);
      line-height: 138.6%;
    }
  }

  &__picto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 116px;
    margin: 0 auto 31.21px;

    &-stick {
      width: 32px;
      height: 1.54px;

      background: $yellow;
    }

    &-icon {
      width: 32.77px;
      height: 28px;
    }
  }

  &__buildings {
    position: absolute;
    top: size(-165px, $desktop);
    left: 0;

    width: 100%;

    @media screen and (max-width: $mobile-max) {
      display: none;
    }

    &-wrapper {
      position: relative;

      width: 100%;
    }
  }

  &__video {
    width: size(817px, $desktop);
    height: size(434px, $desktop);

    @media screen and (max-width: $mobile-max) {
      width: size(340px, $mobile);
      height: size(207px, $mobile);
      margin-top: size(40.21px, $mobile);
    }
  }

  &__stick-btm {
    width: 55px;
    height: 1.54px;
    margin: size(62.5px, $desktop) auto size(34.46px, $desktop);

    background: $yellow;

    @media screen and (max-width: $mobile-max) {
      margin: size(28px, $mobile) auto size(21.46px, $mobile);
    }
  }

  &__p {
    padding-bottom: size(91px, $desktop);

    font-size: size(20px, $desktop);
    line-height: size(34px, $desktop);
    font-family: $futuraBookC;
    text-align: center;
    color: #363636;

    @media screen and (max-width: $mobile-max) {
      width: size(340px, $mobile);
      margin: 0 auto;

      font-size: size(14px, $mobile);
      line-height: 169.8%;
      color: $white;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 62%;
      margin: 0 auto;

      font-size: size(14px, $tablet);
      line-height: 169.8%;
    }
  }
}
