@import "../abstracts/variables";
@import "../abstracts/functions";

.steps {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  background: $black;

  @media screen and (max-width: $mobile-max) {
    display: none;
  }

  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    justify-content: space-between;
  }

  &__left {
    width: size(337px, $desktop);
    margin-left: size(50px, $desktop);

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: size(280px, $tablet);
    }

    &-head {
      padding-bottom: size(18px, $desktop);

      font-size: size(15px, $desktop);
      line-height: size(21px, $desktop);
      font-family: $futuraDemiC;
      color: $white;
      text-transform: uppercase;

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: size(11px, $tablet);
      }

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: size(11px, $tablet);
      }
    }

    &-heading {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: size(92px, $desktop);

      &-name {
        font-style: normal;
        font-weight: normal;
        font-size: size(27px, $desktop);
        line-height: size(37px, $desktop);
        font-family: $yeseva;
        color: $yellow;
        text-transform: uppercase;

        @media (min-width: $tablet-min) and (max-width: $tablet-max) {
          font-size: size(20px, $tablet);
        }
      }

      &-stick {
        width: size(92px, $desktop);
        max-width: size(92px, $desktop);
        height: size(1px, $desktop);
        margin-bottom: size(15px, $desktop);

        background: $yellow;

        @media (min-width: $tablet-min) and (max-width: $tablet-max) {
          display: none;
        }
      }
    }

    &-num {
      margin-bottom: size(22px, $desktop);

      font-style: normal;
      font-weight: normal;
      font-size: size(18px, $desktop);
      line-height: size(25px, $desktop);
      font-family: $yeseva;
      color: $white;
      text-transform: uppercase;

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: size(18px, $tablet);
      }

      &-heading {
        margin-bottom: size(16px, $desktop);

        font-style: normal;
        font-weight: normal;
        font-size: size(15px, $desktop);
        line-height: size(23px, $desktop);
        font-family: $yeseva;
        color: $yellow;
        text-transform: uppercase;

        @media (min-width: $tablet-min) and (max-width: $tablet-max) {
          font-size: size(15px, $tablet);
          line-height: size(20px, $tablet);
        }
      }
    }

    &-p {
      margin-bottom: size(91px, $desktop);

      font-size: size(15px, $desktop);
      line-height: size(25px, $desktop);
      font-family: $futuraBookC;
      color: $white;

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: size(12px, $tablet);
        line-height: size(18px, $tablet);
      }
    }
  }

  &__arrows {
    display: flex;
    justify-content: space-between;
    width: size(287px, $desktop);
    margin-top: size(79.64px, $desktop);

    cursor: pointer;

    &-prev {
      width: size(41.46px, $desktop);

      &:hover {
        opacity: 0.7;
      }
    }

    &-next {
      width: size(41.46px, $desktop);

      transform: rotate(-180deg);

      &:hover {
        opacity: 0.7;
      }
    }

    &-dot {
      width: size(10px, $desktop);
      height: size(10px, $desktop);
      margin: 0 size(8px, $desktop);

      background: $white;
      border-radius: 50%;
      opacity: 0.3;

      &:hover {
        background: $yellow;
        opacity: 1;
      }

      &--selected {
        width: size(10px, $desktop);
        height: size(10px, $desktop);
        margin: 0 size(8px, $desktop);

        background: $white;
        border-radius: 50%;
        opacity: 1;

        &:hover {
          background: $yellow;
        }
      }
    }
  }

  &__right {
    margin-top: size(60px, $desktop);

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      margin-right: 2%;
    }
  }

  &__steps {
    display: grid;

    grid-template: repeat(2, 1fr) / repeat(3, 1fr);

    &-item {
      opacity: 0.3;
    }

    &-num {
      line-height: size(21px, $desktop);
      font-family: $yeseva;
      color: $white;
      text-decoration: none;

      border-bottom: size(1px, $desktop) solid $yellow;

      &:hover {
        color: $yellow;
      }
    }

    &-txt {
      width: size(127px, $desktop);
      margin-top: size(17px, $desktop);
      margin-bottom: size(36px, $desktop);

      font-size: size(15px, $desktop);
      line-height: size(18px, $desktop);
      font-family: $futuraBookC;
      color: $white;

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: size(80px, $tablet);

        font-size: size(10px, $tablet);
      }
    }
  }

  &__img {
    width: size(765px, $desktop);
    height: size(376.64px, $desktop);
    margin-top: size(44.33px, $desktop);

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: size(382.5px, $tablet);
      height: size(188.32px, $tablet);
    }
  }
}
