@import "../abstracts/variables";
@import "../abstracts/functions";

.steps {
  width: 100%;
  background: $black;
  display: flex;
  justify-content: space-evenly;

  @media screen and (max-width: 425px) {
    display: none;
  }

  &__left {
    width: size(337px, $desktop);
    margin-left: size(50px, $desktop);

    &-head {
      font-family: $futuraDemiC;
      font-size: size(15px, $desktop);
      line-height: size(21px, $desktop);
      text-transform: uppercase;
      padding-bottom: size(18px, $desktop);

      color: $white;
    }

    &-heading {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: size(92px, $desktop);

      &-name {
        font-family: $yeseva;
        font-style: normal;
        font-weight: normal;
        font-size: size(27px, $desktop);
        line-height: size(37px, $desktop);
        text-transform: uppercase;
        color: $yellow;
      }

      &-stick {
        width: size(92px, $desktop);
        max-width: size(92px, $desktop);
        height: size(1px, $desktop);
        background: $yellow;
        margin-bottom: size(15px, $desktop);
      }
    }

    &-num {
      font-family: $yeseva;
      font-style: normal;
      font-weight: normal;
      font-size: size(18px, $desktop);
      line-height: size(25px, $desktop);
      text-transform: uppercase;
      color: $white;
      margin-bottom: size(22px, $desktop);

      &-heading {
        font-family: $yeseva;
        font-style: normal;
        font-weight: normal;
        font-size: size(15px, $desktop);
        line-height: size(23px, $desktop);
        text-transform: uppercase;
        margin-bottom: size(16px, $desktop);

        color: $yellow;
      }
    }

    &-p {
      font-family: $futuraBookC;
      font-size: size(15px, $desktop);
      line-height: size(25px, $desktop);
      margin-bottom: size(91px, $desktop);

      color: $white;
    }
  }
  &__arrows {
    margin-top: size(79.64px, $desktop);
    width: size(287px, $desktop);
    display: flex;
    justify-content: space-between;

    &-prev {
      width: size(41.46px, $desktop);

      &:hover {
        opacity: 0.7;
      }
    }

    &-next {
      width: size(41.46px, $desktop);
      transform: rotate(-180deg);

      &:hover {
        opacity: 0.7;
      }
    }

    &-dot {
      background: $white;
      opacity: 0.3;
      width: size(10px, $desktop);
      height: size(10px, $desktop);
      border-radius: 50%;
      margin: 0 size(8px, $desktop);

      &:hover {
        background: $yellow;
        opacity: 1;
      }
      &--selected {
        opacity: 1;
        background: $white;
        width: size(10px, $desktop);
        height: size(10px, $desktop);
        border-radius: 50%;
        margin: 0 size(8px, $desktop);

        &:hover {
          background: $yellow;
        }
      }
    }
  }
  &__right {
    margin-top: size(60px, $desktop);
  }

  &__steps {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);

    &-item {
      opacity: 0.3;
    }

    &-num {
      font-family: $yeseva;
      line-height: size(21px, $desktop);
      color: $white;
      text-decoration: none;
      border-bottom: size(1px, $desktop) solid $yellow;

      &:hover {
        color: $yellow;
      }
    }

    &-txt {
      margin-top: size(17px, $desktop);
      margin-bottom: size(36px, $desktop);
      width: size(127px, $desktop);

      font-family: $futuraBookC;
      font-size: size(15px, $desktop);
      line-height: size(18px, $desktop);

      color: $white;
    }
  }

  &__img {
    width: size(765px, $desktop);
    height: size(376.64px, $desktop);
    margin-top: size(44.33px, $desktop);
  }
}
