@import "../abstracts/variables";
@import "../abstracts/functions";

.styles {
  width: 100%;
  background-image: url("../../assets/images/styles.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: size(864px, $desktop);

  @media screen and (max-width: $mobile-max) {
    display: block;
    background-image: linear-gradient(
      to bottom,
      $white,
      $white 60%,
      $black 60%,
      $black 100%
    );
    height: 100%;
  }

  &__ul {
    @media screen and (max-width: $mobile-max) {
      display: none;
    }
  }

  &__block1 {
    width: size(511px, $desktop);
    margin-left: size(100px, $desktop);

    @media screen and (max-width: $mobile-max) {
      width: 100%;
      margin: 0;
    }
  }

  &__block2 {
    width: size(400px, $desktop);

    @media screen and (max-width: $mobile-max) {
      display: none;
    }
  }
  &__block3 {
    width: size(400px, $desktop);

    @media screen and (max-width: $mobile-max) {
      display: none;
    }
  }

  &__heading {
    margin-top: size(137px, $desktop);
    font-family: $yeseva;
    font-style: normal;
    font-weight: normal;
    font-size: size(27px, $desktop);
    line-height: size(37px, $desktop);
    text-transform: uppercase;
    color: $yellow;
    margin-bottom: 10%;

    @media screen and (max-width: $mobile-max) {
      font-size: size(22px, $mobile);
      line-height: 138.6%;
      width: size(340px, $mobile);
      margin: 0 auto;
      text-align: center;
      margin-bottom: size(24px, $mobile);
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: size(22px, $tablet);
      line-height: 138.6%;
    }
  }

  &__li {
    font-family: $proxima;
    font-size: size(20px, $desktop);
    line-height: size(34px, $desktop);

    color: $white;

    cursor: pointer;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: size(16px, $tablet);
      line-height: 160%;
    }

    &--selected {
      font-family: $proxima;
      font-size: size(20px, $desktop);
      line-height: size(34px, $desktop);

      color: $yellow;
      text-decoration: underline;

      cursor: pointer;

      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: size(16px, $tablet);
        line-height: 160%;
      }
    }
  }

  &__img1 {
    position: relative;
    top: -4%;
    width: size(354.81px, $desktop);
    height: size(556.86px, $desktop);

    @media screen and (max-width: $mobile-max) {
      display: none;
    }
  }

  &__img2 {
    position: relative;
    top: 3%;
    width: size(353.81px, $desktop);
    height: size(349.47px, $desktop);
    margin-bottom: size(112.47px, $desktop);

    @media screen and (max-width: $mobile-max) {
      display: none;
    }
  }

  &__img3 {
    position: relative;
    top: -13%;
    width: size(354px, $desktop);
    height: size(275px, $desktop);
  }

  &__img4 {
    position: relative;
    top: -7%;
    width: size(353.81px, $desktop);
    height: size(625.23px, $desktop);
  }

  &__slider {
    display: none;

    @media screen and (max-width: $mobile-max) {
      display: block;
      position: relative;
    }

    &-next {
      position: absolute;
      width: size(54.72px, $desktop);
      left: 90%;
      top: 40%;
      background: $yellow;
      border-radius: 50%;
      box-shadow: 0 0 size(15px, $desktop) rgba(227, 184, 115, 0.5);
      padding: size(19.03px, $desktop) size(21.41px, $desktop);

      &:hover {
        opacity: 0.7;
      }

      @media screen and (max-width: $mobile-max) {
        width: size(36px, $mobile);
        height: size(36px, $mobile);
        left: 80%;
        padding: size(12.52px, $mobile) size(14.09px, $mobile);
      }
    }

    &-prev {
      display: none;
      transform: rotate(180deg);
      position: absolute;
      width: size(54.72px, $desktop);
      left: 0%;
      top: 40%;
      background: $yellow;
      border-radius: 50%;
      box-shadow: 0 0 size(15px, $desktop) rgba(227, 184, 115, 0.5);
      padding: size(19.03px, $desktop) size(21.41px, $desktop);

      &:hover {
        opacity: 0.7;
      }

      @media screen and (max-width: $mobile-max) {
        display: inline;
        width: size(36px, $mobile);
        height: size(36px, $mobile);
        left: 10%;
        padding: size(12.52px, $mobile) size(14.09px, $mobile);
      }
    }

    &-img {
      display: block;
      width: size(340px, $mobile);
      height: size(242px, $mobile);
      margin: 0 auto;
    }
  }
}
