@import "../abstracts/variables";
@import "../abstracts/functions";

.team {
  width: 100%;

  background-image: linear-gradient(
  to bottom,
  $black,
  $black 46%,
  $white 46%,
  $white 100%
  );

  @media screen and (max-width: $mobile-max) {
    background: $black;
  }

  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    background-image: linear-gradient(
    to bottom,
    $black,
    $black 55%,
    $white 55%,
    $white 100%
    );
  }

  &__heading {
    padding-top: size(95.15px, $desktop);

    font-style: normal;
    font-weight: normal;
    font-size: size(20px, $desktop);
    line-height: size(28px, $desktop);
    font-family: $yeseva;
    text-align: center;
    color: $white;
    text-transform: uppercase;

    @media screen and (max-width: $mobile-max) {
      margin-top: size(-100px, $mobile);
      margin-bottom: size(12.53px, $mobile);

      font-size: size(22px, $mobile);
      line-height: 138.6%;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: size(22px, $tablet);
      line-height: 138.6%;
    }
  }

  &__picto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 114px;
    margin: 15px auto;

    @media screen and (max-width: $mobile-max) {
      height: 29px;
    }

    &-img {
      width: 32px;
      height: 32px;

      @media screen and (max-width: $mobile-max) {
        width: 29px;
        height: 29px;
      }
    }

    &-stick {
      width: 32px;
      height: 1.54px;

      background: $yellow;
    }
  }

  &__p {
    margin-bottom: size(68.53px, $desktop);

    font-size: size(20px, $desktop);
    line-height: size(27px, $desktop);
    font-family: $futuraBookC;
    text-align: center;
    color: $white;

    @media screen and (max-width: $mobile-max) {
      margin-top: size(23.47px, $mobile);
      margin-bottom: size(76px, $mobile);

      font-size: size(15px, $mobile);
      line-height: 135.84%;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: size(15px, $tablet);
      line-height: 135.84%;
    }
  }

  &__teams {
    display: flex;
    justify-content: space-between;
    width: size(1063.24px, $desktop);
    margin: 0 auto;

    @media screen and (max-width: $mobile-max) {
      display: block;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 85%;
      margin-top: 8%;
    }
  }

  &__block {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: -9%;
    left: -13%;

    width: size(70px, $desktop);
    height: size(70px, $desktop);
    padding: size(13px, $desktop);

    background: $yellow;
    box-shadow: 0 5px 20px rgba(227, 184, 115, 0.5);

    @media screen and (max-width: $mobile-max) {
      top: 2%;

      width: size(70px, $mobile);
      height: size(70px, $mobile);
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      top: -10%;
      left: -15%;

      width: size(60px, $tablet);
      height: size(60px, $tablet);
    }
  }

  &__photo {
    width: size(272.24px, $desktop);
    height: size(357.63px, $desktop);

    @media screen and (max-width: $mobile-max) {
      width: size(304px, $mobile);
      height: size(414px, $mobile);
      margin-top: size(50px, $mobile);
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: size(182.4px, $tablet);
      height: size(248.4px, $tablet);
    }
  }

  &__txt {
    position: relative;
    top: size(-80px, $desktop);

    width: size(233px, $desktop);
    height: size(137px, $desktop);
    margin: 0 auto;

    background: $white;
    box-shadow: 0 size(10px, $desktop) size(15px, $desktop) rgba(0, 0, 0, 0.05);

    @media screen and (max-width: $mobile-max) {
      top: size(-100px, $mobile);

      width: size(233px, $mobile);
      height: size(137px, $mobile);
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 86%;
    }
  }

  &__name {
    padding-top: size(22px, $desktop);

    font-style: normal;
    font-weight: normal;
    font-size: size(18px, $desktop);
    line-height: size(25px, $desktop);
    font-family: $yeseva;
    text-align: center;
    color: #181818;

    @media screen and (max-width: $mobile-max) {
      padding-top: size(22px, $mobile);

      font-size: size(18px, $mobile);
      line-height: size(25px, $mobile);
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: size(14px, $tablet);
      line-height: size(25px, $tablet);
    }
  }

  &__profession {
    margin: size(9px, $desktop) auto size(22px, $desktop);

    font-size: size(18px, $desktop);
    line-height: size(26px, $desktop);
    font-family: $futuraBookC;
    text-align: center;
    color: #959595;

    @media screen and (max-width: $mobile-max) {
      margin-top: size(9px, $mobile);
      margin-bottom: size(24px, $mobile);

      font-size: size(18px, $mobile);
      line-height: size(26px, $mobile);
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      margin-top: 0;

      font-size: size(12px, $tablet);
      line-height: size(25px, $tablet);
    }
  }

  &__experience {
    height: size(33px, $desktop);
    padding-top: size(7px, $desktop);

    font-style: normal;
    font-weight: normal;
    font-size: size(13px, $desktop);
    line-height: size(20px, $desktop);
    font-family: $yeseva;
    text-align: center;
    color: $white;
    text-transform: uppercase;

    background: $yellow;

    @media screen and (max-width: $mobile-max) {
      width: size(233px, $mobile);
      height: size(44px, $mobile);
      margin-bottom: size(111px, $mobile);
      padding-top: size(13px, $mobile);

      font-size: size(13px, $mobile);
      line-height: size(20px, $mobile);
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      height: size(29px, $tablet);
      margin-top: 0;

      font-size: size(8px, $tablet);
      line-height: size(20px, $tablet);
    }
  }

  &__stick--btm {
    width: 32px;
    height: 1.5px;
    margin: 0 auto 17.29px;

    background: $yellow;

    @media screen and (max-width: $mobile-max) {
      display: none;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      margin-top: 2%;
    }
  }

  &__p--btm {
    padding-bottom: size(88.59px, $desktop);

    font-size: size(20px, $desktop);
    line-height: size(34px, $desktop);
    font-family: $futuraBookC;
    text-align: center;
    color: #363636;

    @media screen and (max-width: $mobile-max) {
      display: none;
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: size(12px, $tablet);
      line-height: size(16px, $tablet);
    }
  }
}
