@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "FuturaDemiC";

  src: url("../../assets/fonts/FuturaDemiC/FuturaDemiC.woff2") format("woff2"),
  url("../../assets/fonts/FuturaDemiC/FuturaDemiC.woff") format("woff"),
  url("../../assets/fonts/FuturaDemiC/FuturaDemiC.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "FuturaBookC";

  src: url("../../assets/fonts/FuturaBookC/FuturaBookC.woff2") format("woff2"),
  url("../../assets/fonts/FuturaBookC/FuturaBookC.woff") format("woff"),
  url("../../assets/fonts/FuturaBookC/FuturaBookC.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Yeseva One";

  src: url("../../assets/fonts/Yeseva\ One/YesevaOne-Regular.woff2") format("woff2"),
  url("../../assets/fonts/Yeseva\ One/YesevaOne-Regular.woff") format("woff"),
  url("../../assets/fonts/Yeseva\ One/YesevaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Proxima Nova";

  src: url("../../assets/fonts/Proxima\ Nova/ProximaNova-Regular.woff2") format("woff2"),
  url("../../assets/fonts/Proxima\ Nova/ProximaNova-Regular.woff") format("woff"),
  url("../../assets/fonts/Proxima\ Nova/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "FuturaMediumC";

  src: url("../../assets/fonts/FuturaMediumC/FuturaMediumC.woff2") format("woff2"),
  url("../../assets/fonts/FuturaMediumC/FuturaMediumC.woff") format("woff"),
  url("../../assets/fonts/FuturaMediumC/FuturaMediumC.ttf") format("truetype");
}
