// colors:
$yellow: #E3B873;
$black: #131313;
$white: #FFFFFF;

// sizes
$desktop: 1440px;
$mobile: 375px;
$tablet: 768px;

// font-families
$yeseva: 'Yeseva One', serif;
$futuraBookC:"FuturaBookC", sans-serif;
$futuraDemiC: "FuturaDemiC", sans-serif;
$futuraMediumC: "FuturaMediumC", sans-serif;
$proxima: "Proxima Nova", serif;