// colors:
$yellow: #e3b873;
$black: #131313;
$white: #ffffff;

// sizes
$desktop: 1440px;
$mobile: 375px;
$tablet: 768px;
$mobile-max: 600px;
$tablet-min: 601px;
$tablet-max: 1024px;

// font-families
$yeseva: "Yeseva One", serif;
$futuraBookC: "FuturaBookC", sans-serif;
$futuraDemiC: "FuturaDemiC", sans-serif;
$futuraMediumC: "FuturaMediumC", sans-serif;
$proxima: "Proxima Nova", serif;
