/* Imported Styles */
@import "./base/reset";
@import "./abstracts/variables";
@import "./abstracts/functions";
@import "./abstracts/fonts";
@import "./layout/header";
@import "./layout/home";
@import "./layout/projects";
@import "./layout/online-control";
@import "./layout/types";
@import "./layout/measurement";
@import "./layout/styles";
@import "./layout/design";
@import "./layout/steps";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/contact";
@import "./layout/footer";
@import "./components/buttons";
@import "./components/forms";

html {
  box-sizing: border-box;

  background: #252525;
}

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;

  background: $white;
}
